<canvas width="600" height="400"></canvas>
<script>
	
	var tela = document.querySelector('canvas');
	var pincel = tela.getContext('2d');

	//Retângulo 1: 350, 300 (cabeça).
	pincel.fillStyle = 'darkgreen';
    pincel.fillRect(200, 50, 350 ,300);
	
	//Retângulos 2 e 3: 90, 90 (olhos).
	pincel.fillStyle = 'black';
    pincel.fillRect(250, 110, 90, 90);
    pincel.fillRect(410, 110, 90, 90);
	

	//Retângulo 4: 70, 100 (nariz).
	pincel.fillRect(340, 200, 70, 100);
	
	//Retângulos 5 e 6: 40, 110 (parte da boca).

	pincel.fillRect(300, 240, 40, 110);
    pincel.fillRect(410, 240, 40, 110); 
</script>