body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
}

p {
	text-align: justify;
	margin: 20px 0;
}

nav a {
	color: #F2FFFC;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

footer {
    padding: 20px;
}

main div {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h2 {
	font-size: 30px;
}

.icones-redes-socias li{
	display: inline-block;
}

#rodape-pagina{
	background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

article{
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.navegacao-site{
	background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}
.citacoes{
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
	padding: 20px;
}